.board {
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  background-image: url('../../assets/img/bg.webp');
  opacity: 1;
  background-size: cover;
  background-position: center;

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;

    .logo {
      height: 3.5em;

      &.homeTeam {
        content: url('../../assets/img/dortmund-logo.png');
      }

      &.awayTeam {
        content: url('../../assets/img/barcelona-logo.png');
      }
    }

    .team {
      font-size: 2em;
      color: #FAFAFA;
      text-transform: uppercase;
    }

    .scoreboard {
      font-size: 3em;
      color: #58e1e1;
    }

    .player {
      align-items: center;
      border-radius: 50%;
      display: flex;
      font-weight: 600;
      height: 3vh;
      justify-content: center;
      width: 3vh;
      margin: 0 10vh;

      &.homeTeam {
        border: .15vh solid black;
        background: linear-gradient(25deg, 
          rgba(253,187,45,1) 56%, rgba(254,254,254,1) 100%);
      }

      &.awayTeam {
        border: .15vh solid black;
        background: linear-gradient(25deg, rgba(165,0,68,1) 55%, rgba(0,77,152,1) 85%, rgba(254,254,254,1) 100%);
        color: #FAFAFA;
      }
    }
  }

  .body {
    justify-content: center;
    display: flex;
    height: 75vh;
    padding: 0 5%;
    width: 90%;

    .team-list {
      &.home {
        text-align: start;
      }

      &.away {
      text-align: end;
      }

      font-size: 1em;
      font-weight: 400;
      line-height: .75em;
      width: 20%;

      .number {
        color: #58e1e1;
        display: inline-block;
        text-align: center;
        width: 2em;
      }

      .name {
        color: #FAFAFA;
      }
    }

    .field {
      height: 20em;
      position: relative;
      width: 60%;

      img {
        height: 100%;
        opacity: .7;
        src: url('../../assets/img/field.png');
        width: 100%;
      }

      .player {
        align-items: center;
        border-radius: 50%;
        display: flex;
        font-weight: 600;
        height: 3vh;
        justify-content: center;
        position: absolute;
        width: 3vh;

        &.homeTeam {
          border: .15vh solid black;
          background: linear-gradient(25deg, 
            rgba(253,187,45,1) 56%, rgba(254,254,254,1) 100%);
        }

        &.awayTeam {
          border: .15vh solid black;
          background: linear-gradient(25deg, rgba(165,0,68,1) 55%, rgba(0,77,152,1) 85%, rgba(254,254,254,1) 100%);
          color: #FAFAFA;
        }
      }
    }
  }
}