:root {
  --stopPosition: 0px
}

.container {
  align-items: center;
  background-color: rgb(47 77 197);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  .spinner {
    position: relative;
    border: 2px solid #fafafa;
    width: 500px;
    height: 100px;

    .spinner__marker {
      left: 50%;
      position: absolute;
      height: 100%;
      width: 2px;
      background-color: black;
    }

    .card-list {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      white-space: nowrap;

      .card {
        display: inline-block;
        background-color: rgb(119, 188, 252);
        border-left: 1px solid #fafafa;
        border-right: 1px solid #fafafa;
        width: 100px;
        height: 100px;
        transition: all 6000ms cubic-bezier(.4,.3,.05,1);

        &.spinning:first-child {
          margin-left: var(--stopPosition);
        }
      }

      .card:nth-child(5n) {
        background-color: green;
      }

      .card:nth-child(12n) {
        background-color: red;
      }

      .card:nth-child(30n) {
        background-color: goldenrod;
      }
    }
  }

  .open-button {
    margin-top: 5vh;
  }
}